body {
  background-color: #262d40;
  border-top: 3px solid #ea8922;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.FullPage
{
    max-width: 960px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

}
.Header
{
    height: 86px;


}
.HeaderLogo
{
    float: left;
}
.Header-RightMenu
{
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;

}
.Header-RightMenu-Top-1
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;


}
.Header-RightMenu-Top-2
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.Header-RightMenu-Top-1-help
{
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 5px;
    font-size: 11px;
    color: #bdc3c7;
}
.Header-RightMenu-Top-1-Logout
{
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 5px;
    font-size: 11px;
    color: #bdc3c7;
}
.Header-RightMenu-Top-1-Oblique
{
    margin-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #bdc3c7;
}
.Header-RightMenu-Bottom
{
    grid-column: 1 / span 2;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;

}
.Header-RightMenu-Bottom-Name
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-right: 10px;
    padding-top: 3px;
}

.navbar
{
    background-color: #e2e6ef;
    height: 45px;
    width: 960px;
}
.NavigationBar
{
    height: 45px;
    display: grid;
    grid-template-columns: 209px 138px 176px 152px;
    column-width: 20px;
    float: left;
}
.NavigationBar-Menu1
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
    border-right:2px solid #f1f3f7;

}

.NavigationBar-Menu1:default
{
    font-family: "Myriad-Pro";
    font-size: 14px;
    color: #1b3f75;
    padding-top: 10px;
}
.NavigationBar-Menu1:hover
{
    font-family: "Myriad-Pro";
    font-size: 16px;
    color: #ffffff;
    background-color: #3d85c6;
    padding-top: 10px;

}
.NavigationBar-Menu1-image1
{
    padding-left: 20px;
}
.NavigationBar-Menu1-text
{
    padding-right: 20px;
    padding-left: 10px;

}
.NavigationBar-Menu1-image2
{
    padding-right: 20px;
}

